@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.header-container{
    width: 100%;
    height: 120px;
    position: relative;
    background-color: #fdf0e6;
}

.header-container h3{
    position: relative;
    font-size: 32px;
    color: #f08e80;
    font-weight: lighter;
    top: 30px;
    left: 40px;
}

.header-container .items{
    position: relative;
    text-align: center;
    display: inline-block;
    text-align: center;
    margin: auto auto auto 38%;
}

.header-container .items li{
    position: relative;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
}

.header-container .items input{
    background-color: #f3a294;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-family: monospace;
    font-weight: bold;
    margin-left: 300px;
    cursor: pointer;
}

.header-container .items a{
    color: #000000;
    text-decoration: none;
}

.main-container{
    margin: 0px 0px 150px 0px;
    background-color: #fdf0e6;
    height: 490px;
}

.main-title{
    width: 600px;
    margin: auto;
}

.main-container h1{
    color: #f19588;
    font-size: 68px;
    font-weight: normal;
    text-align: center;
    padding-top: 60px;
}

.main-container p{
    padding: 50px 0px 50px 0px;
    font-size: 27px;
    font-style: italic;
    text-align: center;
    margin: auto;
}

.main-container a{
    color: #f19588;
    text-decoration: none;
    border-bottom: 1px solid #f19588;
}

.phrase{
    background-color: #fff;
    height: 350px;
}

.phrase p{
    width: 630px;
    font-size: 42px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #f19588;
}

.services-container{
    background-color: #fdf0e6;
    padding-bottom: 20px;
}

.services-container h2{
    color: #f08e80;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    padding: 60px 0px;
}

.services{
    width: 300px;
    height: 160px;
    display: inline-flex;
    margin: 0px 40px 40px 80px;
    text-align: center;
}

.services li{
    color: #f08e80;
    font-size: 25px;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
}

.services p{
    font-size: 17px;
    line-height: 28px;
}

.services-container .btn-services{
    background-color: #f3a294;
    border: none;
    color: #ffffff;
    padding: 25px 35px;
    font-size: 18px;
    display: block;
    margin: 60px auto;
    cursor: pointer;
}

.blockquote-container{
    background-color: #fff;
    height: 650px;
}

.blockquote-container blockquote{
    position: relative;
    top: 20%;
    left: 11%;
    font-size: 45px;
    width: 510px;
    height: 500px;
    background-color: #fdf0e6;
    padding: 20px;
    padding-top: 50px;
    line-height: 60px;
    text-align: center;
}

.blockquote-container blockquote p{
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
}

.img{
    position: relative;
    max-width: 700px;
    display: inline-block;
    margin-bottom: 150px;
}

.img figure{
    position: absolute;
    left: 650px;
    top: -600px;
    max-width: 900px;
}

.query{
    background-color: #fdf0e6;
    height: 350px;
    text-align: center;
}

.query h4{
    font-size: 45px;
    font-weight: normal;
    padding: 55px 0px;
}

.query p{
    font-size: 27px;
    font-style: italic;
    padding-bottom: 30px;
}

.query .btn-query{
    background-color: #f3a294;
    color:#fff;
    border: none;
    padding: 19px 29px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}

.query .btn-query:hover{
    opacity: 0.9;
}

footer{
    height: 400px;
}

footer h3{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.block{
    width: 360px;
    height: 170px;
    display: inline-block;
    margin-left: 70px;
}

.block .title{
    font-size: 27px;
    text-align: center;
    padding-bottom: 20px;
}

.block p{
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.block p a{
    color: #f08e80;
    text-decoration: none;
    border-bottom: 1px solid #f08e80;
}

@media screen and (max-width: 1100px){
    
    .items{
        position: relative;
    }

    .items input{
        position: absolute;
        right: -210px;
        top: -25px;
    }

    .services-container {
        text-align: center;
    }

    .blockquote-container{
        width: 300px;
    }

    .img{
        position: relative;
    }

    .img img{
        position: absolute;
        width: 550px;
        left: -125px;
        top: 58px;
    }

    footer{
        text-align: center;
    }
}

@media screen and (max-width: 900px){

    .header-container{
        position: relative;
    }
 
    .items{
        position: absolute;
        left: -80px;
    }

    .blockquote-container{
        width: 200px;
    }

    .blockquote-container blockquote{
        height: 500px;
    }

    .img{
        position: relative;
    }

    .img img{
        position: absolute;
        width: 400px;
        height: 650px;
        left: -145px;
    }

    @media screen and (max-width: 575px){

        .header-container{
            position: relative;
        }

        .header-container h3{
            position: absolute;
            left: 5px
        }

        .header-container .items{
            position: absolute;
            left: -80px;
            top: 40px;
        }

        .header-container .items input{
            position: relative;
            align-items: center;
            right: 50%;
            top: 40px;
        }

        .main-container {
            padding-top: 30px;
        }

        .main-title h1 {
            width: 550px;
            font-size: 58px;
        }

        .phrase p{
            width: 500px;
            font-size: 30px;
        }
        
        .services-container h2{
            padding-top: 50px;
            padding-bottom: 40px;
        }

        .blockquote-container {
            width: 100px;
        }

        .blockquote-container blockquote{
            padding-top: 10px;
            padding-bottom: 0;
            width: 230px;
            height: 415px;
            font-size: 19px;
        }

        .blockquote-container blockquote p{
            font-size: 25px;
            padding-top: 0px;
        }

        .img{
            position: relative;
            margin-bottom: 15px;
        }

        .img img {
            position: absolute;
            width: 318px;
            height: 520px;
            left: -427px;
        }
    }
}